.latest-movie {
    margin-bottom: 30px;

    &__date,
    &__title,
    &__excerpt {
        text-align: center;
    }

    &__date {
        @extend %font-meta;
        display: block;
    }

    &__title {
        @extend %font-h2;
        margin-bottom: 10px;
    }
    
    &__excerpt {
        margin-bottom: 0;
    }
}