.movie-review {
    text-align: center;

    &__poster {
        @include aspect-ratio(16,11);
        width: 100%;
        margin-bottom: 15px;
        background-position: center;
        background-size: cover;
    }

    &__rating {
        margin: 0 0 30px;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
        }
    }

    &__title {
        @extend %font-h2;
        text-transform: uppercase;
    }
    
}