.thumbnails {
    position: relative;
    
    &__movie {
        @include aspect-ratio(16,9);
        background-position: center;
        background-size: cover;
        display: block;
        width: 100%;
    }
}