<header class="header header--main">

	<div class="header__title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="header__title-bar-title">Menu</div>
    </div>

    <div class="header__top-bar" id="top-menu">
        {% block header %}

        	{% include 'blocks/header/header-title.twig' %}

          
            {% include 'blocks/header/nav-primary.twig' with {menu: menu.get_items} %}

        {% endblock %}
    </div>
</header>