{% extends "templates/base.twig" %}

{% block main_class %}home-layout{% endblock %}
{% block content %}

    {% for post in posts %}

        {# get movie reviews partial #}
        {% include 'views/home/movie-reviews.twig' %}

        {# get movie trailers partial #}
        {% include 'views/home/movie-trailers.twig' %}

        {# get movie quotes partial #}
        {% include 'views/home/movie-quotes.twig' %}

        {# get in theaters partial #}
        {% include 'views/home/in-theaters-now.twig' %}
        

        <section class="home-layout__vue-bonus">
            <div id="app"></div>
        </section>

    {% endfor %}

{% endblock %}