<template>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <hello-component example_text="This is simple example of Vue and REST service" />

                <latest-posts />
            </div>
        </div>
    </div>
</template>

<script>

    import HelloComponent from './components/HelloComponent.vue'
    import LatestPosts from './components/LatestPosts.vue'

    export default {
        components: {
            HelloComponent,
            LatestPosts
        }
    }
</script>