{% if fancySquaresMovieDB | length %}
    <section class="home-layout__in-theaters-now">
    
        <div class="grid-container">
            
            <div class="grid-x grid-margin-x">

                <div class="cell title-block text-center">
                    <h2>
                        {% autoescape %}
                            Now in Theaters
                        {% endautoescape %}
                    </h2>
                </div>
            
            </div>

            <div class="grid-x grid-margin-x small-up-2 medium-up-4" data-equalizer data-equalize-on-stack="true">

                {# 
                    fancySquaresMovieDB, this is the object added
                    to the global context in lib/api/movie-db.php
                #}
                {% for MOVIE in fancySquaresMovieDB %} 
                    {# 
                        check if an image is returned 
                        if not, use missing-img
                    #}
                    {% set POSTER =  MOVIE.poster ? 'https://image.tmdb.org/t/p/w500' ~ MOVIE.poster : theme.link ~ '/public/images/missing-img.jpg' %}
                    {% set TITLE = MOVIE.title %}
                    {# trim the excerpt length #}
                    {% set EXCERPT = MOVIE.excerpt|length > 100 ? MOVIE.excerpt|slice(0, 100) ~ '...' : MOVIE.excerpt  %}
                    {% set DATE = MOVIE.date %}

                    <div class="cell latest-movie">
                        {#
                            static image with content underneath,
                            technically this alt can left blank blank for ADA as its just decorational in this example
                        #}
                        <div class="latest-movie__poster" data-equalizer-watch>
                            <img src="{{ POSTER }}" alt="">
                        </div>

                        <time class="latest-movie__date" datetime="{{ DATE }}">
                            {{ DATE }}
                        </time>
                        
                        <h2 class="latest-movie__title">
                            {{ TITLE }}
                        </h2>

                        {# 
                            not every movie had a description available, 
                            lets use a placeholder for those that don't 
                        #}
                        <p class="latest-movie__excerpt">
                            {% if EXCERPT %}
                                {{ EXCERPT }}
                            {% else %}
                                {% autoescape %}
                                    Playing now! 
                                {% endautoescape %}
                            {% endif %}
                        </p>

                    </div>

                {% endfor %}

            </div>

        </div>
    
    </section>
    
{% endif %}