<section class="home-layout__movie-reviews">

    <div class="grid-container">

        <div class="grid-x grid-margin-x">

            <div class="cell title-block text-center">
                <h2>
                    {% autoescape %}
                        Movie Reviews
                    {% endautoescape %}
                </h2>
            </div>

            <div class="cell">
            
                <div class="grid-x grid-margin-x align-center small-up-1 medium-up-3 thumbnails">
                    
                    {# get the reviews object and loop through it #}
                    {% for REVIEW in MOVIE_REVIEWS %}
                        {% set TITLE = REVIEW.title %}
                        {% set RATING = REVIEW.rating %}
                        {% set POSTER = REVIEW.thumbnail %}
                        {% set CONTENT = REVIEW.content %}

                        <div class="cell movie-review">
                            
                            <div class="movie-review__poster" style="background-image: url({{ POSTER }});">
                                {# 
                                    there would be a link here for the rest of the review in a full website,
                                    same for the title below, and a read more link in the copy
                                 #}
                            </div>

                            <ul class="movie-review__rating">
                            {# 
                                https://twig.symfony.com/doc/2.x/tags/for.html,
                                If you do need to iterate over a sequence of numbers, 
                                you can use the .. operator: in this case, the number of stars in the review!
                             #}
                                {% for i in 1..RATING %}  
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                {% endfor %}
                            </ul>

                            <h2 class="movie-review__title">
                                {{ TITLE }}
                            </h2>

                            {{ CONTENT }}

                        </div>
                    {% endfor %}

                </div>

            </div>
        
        </div>

    </div>

</section>
