<section class="home-layout__latest-videos">

    <div class="grid-container">

        <div class="grid-x grid-margin-x">

            <div class="cell title-block text-center">
                <h2>
                    {% autoescape %}
                        Movie Trailers
                    {% endautoescape %}
                </h2>
            </div>

            <div class="cell iframe-anchor-video">
                {% set FIRST_TRAILER = MOVIE_TRAILERS | first %}
                <div class="responsive-embed widescreen" data-js="remove-iframe">
                    <div id="you-tube-player"></div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ FIRST_TRAILER.youtube_id }}?rel=0;controls=0;" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="cell">
            
                <div class="grid-x grid-margin-x align-center small-up-2 medium-up-5 thumbnails">
                    

                    {% for MOVIE in MOVIE_TRAILERS %}
                        {% set TITLE = 'Play ' ~ MOVIE.title %}
                        {% set VIDEO_ID = MOVIE.youtube_id %}
                        {% set ACTIVE_CLASS %}{% if loop.first %}thumbnails__movie--active{% endif %}{% endset %}
                    
                        <div class="cell">
                            
                            <button class="button active thumbnails__movie {{ ACTIVE_CLASS }}" data-ytID="{{ VIDEO_ID }}" data-js="load-yt-video" style="background-image: url(https://img.youtube.com/vi/{{ VIDEO_ID }}/0.jpg);">
                                {# 
                                    this span is for screan reader ADA 
                                    when a button is clicked and/or tabbed and spacebar that video will play,
                                    and will be in focus (the focus is inside its iframe), this is for ADA
                                #}
                                <span class="show-for-sr">
                                    {{ TITLE }}
                                </span>
                            </button>
                        </div>
                    {% endfor %}

                </div>

            </div>
        
        </div>

    </div>

</section>
