<section class="home-layout__quotes">

    <div class="grid-x grid-margin-x">

            <div class="cell title-block text-center">
                <h2>
                    {% autoescape %}
                        Our Favorite Movie Quotes
                    {% endautoescape %}
                </h2>
            </div>
        
        </div>

    <div class="grid-container">

        <div class="grid-x grid-x-margin owl-carousel owl-theme" data-js="quotes-carousel">
            {# 
                with a little more time, you would add custom owl-dots that would include screan reader text as well
             #}
            {% for QUOTE in MOVIE_QUOTES %}
                {% set TITLE = QUOTE.title %}
                {% set CONTENT = QUOTE.content %}

                <div class="cell item text-center">
                    <h2>
                        {{ TITLE }}
                    </h2>
                    {{ CONTENT }}
                </div>
                
            {% endfor %}

        </div>

    </div>

</section>