.title-block {
    margin-bottom: 30px;
    @include breakpoint(medium){
        margin-bottom: 50px;
    }
    h2 {
        @extend %font-h1;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}