//fonts go here
// import google font just to be a little cleaner
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

@mixin MONTSERRAT {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
}

%font-h1 {
    @include MONTSERRAT;
    font-weight: 700;
    line-height: 1;
    font-size: rem-calc(30);
    letter-spacing: -1px;
    @include breakpoint(medium){
        font-size: rem-calc(35);
        line-height: 1.2;
    }
}

%font-h2 {
    @include MONTSERRAT;
    font-weight: 700;
    line-height: 1;
    font-size: rem-calc(20);
    @include breakpoint(medium){
        font-size: rem-calc(25);
        line-height: 1.2;
    }
}

%font-meta {
    @include MONTSERRAT;
    font-size: rem-calc(13);
}

%body-copy {
    @include MONTSERRAT;
    font-weight: 400;
    line-height: 1.3;
}

body {
    @include MONTSERRAT;
    p {
        @include MONTSERRAT;
    }
}