.home-layout {
    
    > section {
        padding: 50px 0px;
        overflow: hidden;
        margin-bottom: 25px;
        @include breakpoint(medium){
            padding: 100px 0px;
        }
    }

    section {
        &:nth-child(odd) {
            background: #f3f2f2;
            margin-bottom: 50px;
            @include breakpoint(medium){
                margin-bottom: 100px;
            }
        }
    }
    
}