<template>
  <h2>Bonus, {{ example_text }}!</h2>
</template>

<script>
    export default {
        props: {
            example_text: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped lang="scss">
    // @import '../../styles/settings/_settings.scss';
    h2 {
        color: red;
        text-decoration: underline;
    }
</style>