<template >
    
    <div v-if="posts.length > 0">

        <pagination :pagination="pagination"
                    @prev="--postsData.page; getPosts();"
                    @next="postsData.page++; getPosts();">
        </pagination>

        <ul>
            <li v-for="post in posts" :key="post.id">
                <div class="card">
                    <div class="card-divider">
                        {{ post.title.rendered }}
                    </div>
                    <div class="card-section" v-html="post.excerpt.rendered">
                        
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div v-else>
        we are working on it!
    </div>

</template>

<script>
    import axios from 'axios';
    import pagination from './Pagination.vue'

    const BASE_URL = $('body').data('rest')
    const BASE_POSTS_URL = BASE_URL + 'wp/v2/posts';

    // console.log(BASE_POSTS_URL);
    export default {
        // hook into life cycle event
        mounted(){
            this.getPosts();
        },
        components: {
            'pagination': pagination
        }, 
        data(){
            return {
                posts: [],
                postsData: {
                    per_page: 5,
                    page: 1
                },
                pagination: {
                    prevPage: '',
                    nextPage: '',
                    totalPages: '',
                    from: '',
                    to: '',
                    total: '',
                },
            }
        },
        methods: {
            getPosts(){
                axios.get(BASE_POSTS_URL, {params: this.postsData})
                    .then((response) => {
                        this.posts = response.data;
                        this.configPagination(response.headers);
                    })
                        .catch( error => { 
                            console.log(error); 
                        });

            },
            configPagination(headers) {
                this.pagination.total = +headers['x-wp-total'];
                this.pagination.totalPages = +headers['x-wp-totalpages'];
                this.pagination.from = this.pagination.total ? ((this.postsData.page - 1) * this.postsData.per_page) + 1 : ' ';
                this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
                this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
                this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';
            }
        }
    }
</script>